{% extends "auctions/layout.html" %}

{% block body %}

    <div class="jumbotron text-center">
        <br>
        <br>
        <h1><strong>[ 의뢰인 이용방법 ]</strong></h1>
        <p class="blue-text my-4 font-weight-bold" align="center">요청 방법 안내입니다.</p>
        <br>
        <img src="../../static/auctions/img/요청.svg" alt="indeximage" style="left:25%;height: 40%; width:50%;"  class="embed-responsive"> <br> <br> <br>
        <hr class="my-4">
        <br>
        <h1><strong>[ 배송자 이용방법 ]</strong></h1>
        <p class="blue-text my-4 font-weight-bold" align="center">접수 방법 안내입니다.</p>
        <img src="../../static/auctions/img/접수.svg" alt="indeximage" style="left:25%;height: 40%; width:50%"  class="embed-responsive"> <br> <br> <br>
        <br>
        
        
        {% if user.is_authenticated %}
        <hr class="my-4">
         <h1><strong>[ 서비스 이용 하러가기 ]</strong></h1>
        <br>
            <a href="{% url 'activelisting' %}" class="btn btn btn-outline-primary">실시간 요청 목록</a>
            <a href="{% url 'createlisting' %}" class="btn btn-outline-warning">퀵 서비스 요청</a>
        {% else %}
          <hr class="my-4">
         <h1><strong>[ 서비스 이용 하러가기 ]</strong></h1>
        <br>
            <a href="{% url 'register' %}" class="btn btn btn-outline-primary">회원가입</a>
            <a href="{% url 'login' %}" class="btn btn-outline-warning">로그인</a>
        {% endif %}
    </div>
{% endblock %}