{% extends "auctions/layout.html" %}

{% block body %}

    <div class="jumbotron text-center"style="color : #219ebc ">
        <br>
        <br>
        <h1><strong>Team.Dealivery</strong></h1>
        <h1>2022년 캡스톤 디자인</h1> <br>
        <br>
        <p class="lead" align="center"><strong>[ 조장,백엔드 ]</strong> 20181186 신준희</p>
        <p class="lead" align="center"><strong>[ 백엔드 ]</strong> 20191192 윤민재</p>
        <p class="lead" align="center"><strong>[ 프론트 ]</strong> 20191100 김나영</p>
        <p class="lead" align="center"><strong>[ 프론트 ]</strong> 20191228 이진영</p>
        <br>
        <h1>Thanks for Watching!</h1>
        <h1>See you next time.</h1>

    </div>
{% endblock %}